:root {
    --text: #4D5AE5;
    --bacground: #F4F4FD;
    --titleportfolio: #2e2f42;
    --textportfolio: #434455;
    --border-but: #e7e9fc;
    --bacground-icon: #F4F4FD;
    --bg-network: #4d5ae5;
    --fill: #f4f4fd;
    --color-linkClient: #8e8f99;
}

body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;

}

img,
svg {
    display: block;
}

li,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* nav-bar */
.head-line {
    border-bottom: 1px solid #e7e9fc;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;


}

.nav-bar {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;

}

.nav {
    display: flex;
    align-items: center;
}


.nav .logo {
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 76px;


    color: var(--text);
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;


}


.nav .logo-studio {
    color: #2E2F42;
}

.address-list,
.address {
    display: flex;
    margin-left: auto;
    gap: 40px;
}



.address-list .link,
.nav .link,
.nav .list,
.address .list,
.list-photo .link {
    text-decoration: none;
}

.address-list,
.list-conect,
.list-icon-team {
    list-style-type: none;
}

.list-conect {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;

}

/* .list-conect .item:nth-child(n+1) {
    margin-right: 40px;
} */

.list-conect .menu {
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}


.list-conect .menu:hover,
.list-conect .menu:focus,
.address-list .social:hover,
.address-list .social:focus {
    color: #404bbf;
}

/* address list */

.address {
    font-style: normal;
}

.address-list .social {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* hero image */


.hero {
    background-color: var(--titleportfolio);
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}



.hero .title {

    margin-left: auto;
    margin-right: auto;
    max-width: 496px;





    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;

}


.hero .button {
    display: block;
    border: 0;
    border-radius: 4px;
    height: 56px;
    min-width: 169px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;


    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero .button:hover,
.hero .button:focus {
    background-color: #404BBF;
}

/* section 1 */
.onesect {
    padding-top: 120px;
    padding-bottom: 120px;
}


.onesect .title {
    margin-bottom: 8px;


    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.onesect .text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.one-list {
    display: flex;
    gap: 24px;

}

.first-item {
    width: calc((100% - 72px) / 4);
}

.icon-sec1 {
    display: flex;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
}

.icon-sec1>svg {
    width: 64px;
    height: 64px;

}

/* section-2 */


.two-sect {
    padding-bottom: 120px;
}

.two-sect .title {
    margin-bottom: 72px;

    color: #2E2F42;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;

}

.list-two {
    display: flex;
    gap: 24px;


}

.second-item {
    width: calc((100% - 48px) / 3);

}

/* section-3 */

.three {
    padding-top: 120px;
    padding-bottom: 120px;


    background-color: #F4F4FD;

}

.three .title {
    margin-bottom: 72px;

    color: #2E2F42;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.comand .title-comand {
    text-align: center;
    margin-bottom: 8px;



    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.comand .text {
    text-align: center;



    line-height: 24px;
    letter-spacing: 0.02em;
}



.comand {
    display: flex;
    gap: 24px;

}



.three-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);


}



.cont-comand {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.list-icon-team {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;

}

.item-icon-team {
    height: 40px;
    width: 40px;
}

.link-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--bg-network);
}

.link-networks:hover,
.link-networks:focus {
    background-color: #404bbf;
}

.svg-networks {
    fill: var(--fill);
    height: 16px;
    width: 16px;
}

/* portfolio */

.section {
    padding-top: 96px;
    padding-bottom: 120px;
}

/* section butt */
.list-butt {
    display: flex;
    justify-content: center;
    gap: 24px;

    margin-bottom: 72px;


}

.list-butt .butt-filt {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    border: 1px solid var(--border-but);
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    color: var(--text);
    background-color: var(--bacground);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

}

.list-butt .butt-filt:hover,
.list-butt .butt-filt:focus {
    color: #ffffff;
    background-color: #404BBF;
    border: 1px solid transparent;
}

/* gallary */

main .list {
    list-style: none;
}

.list-photo {
    display: flex;
    flex-wrap: wrap;





}



.item-photo:not(:nth-child(3n)) {
    margin-right: 24px;

}

.item-photo:not(:nth-last-child(-n+3)) {
    margin-bottom: 48px;
}

.item-photo {
    width: calc((100% - 2*24px) / 3);

}



.cont-shop {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.cont-shop .title {
    margin-bottom: 8px;
}

.list-photo .title {
    color: var(--titleportfolio);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.list-photo .text {
    color: var(--textportfolio);
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/* customers */
.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.cust-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--titleportfolio);


    margin-bottom: 72px;
}

.list-client {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 24px;




}

.item-client {
    height: 88px;
    width: calc((100% - 24px*5)/6);


}

.link-client {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    color: var(--color-linkClient);
}

.link-client:focus,
.link-client:hover {
    color: #404bbf;
    border-color: #404bbf;
}

.svg-client {

    width: 104px;
    height: 56px;
}

/* Footer */

footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2E2F42;
}

.footer .link {
    text-decoration: none;
}

.footer .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 269px;
    align-items: center;


    color: #4D5AE5;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.footer-logo .footer-studio {
    color: #F4F4FD;
}

.footer .footer-text {
    width: 264px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.media .text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;

}

.foot {
    display: flex;
    align-items: baseline;
}

.logo {
    margin-right: 120px;
}